@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Curso C#, projeto vendas</p>
<p><h4><b>Aluno:</b>  @ViewData["Nome"]</h4></p>

<address>
    <strong><a href="http://udemy.com.br">Cursos </a> </strong>

</address>
